@font-face {
  font-family: 'nanumRound';
  font-weight: 200;
  src: url('assets/fonts/NanumSquareRoundL.ttf') format('truetype');
}

@font-face {
  font-family: 'nanumRound';
  font-weight: 400;
  src: url('assets/fonts/NanumSquareRoundR.ttf') format('truetype');
}

@font-face {
  font-family: 'nanumRound';
  font-weight: 600;
  src: url('assets/fonts/NanumSquareRoundB.ttf') format('truetype');
}

@font-face {
  font-family: 'nanumRound';
  font-weight: 700;
  src: url('assets/fonts/NanumSquareRoundEB.ttf') format('truetype');
}

@font-face {
  font-family: 'bingSamanco';
  font-weight: 400;
  src: url('assets/fonts/BinggraeSamanco.ttf') format('truetype');
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v75/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2)
    format('woff2');
}

@font-face {
  font-family: 'bingSamanco';
  font-weight: 700;
  src: url('assets/fonts/BinggraeSamanco-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cafe24Surround';
  font-weight: 700;
  src: url('assets/fonts/Cafe24Ssurround.ttf') format('truetype');
}

@font-face {
  font-family: 'ChosunCentennial';
  font-weight: 700;
  src: url('assets/fonts/ChosunCentennial_ttf.ttf') format('truetype');
}

@font-face {
  font-family: 'MaruBuri';
  font-weight: 700;
  src: url('assets/fonts/MaruBuri-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SF함박눈';
  font-weight: 700;
  src: url('assets/fonts/SF함박눈.ttf') format('truetype');
}
