<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Year Letter</title>
</head>
<body>
    <h1>2023 New Year's Resoulution & Letter Service</h1>
    
    <br>

    <table>
        <tr>
            <td>Project Manager</td>
            <td>구민구</td>
        </tr>
        <tr>
            <td>Project Leader</td>
            <td>박지용</td>
        </tr>
        <tr>
            <td>Back-End</td>
            <td>박수진</td>
        </tr>
        <tr>
            <td>Front-End</td>
            <td>양희범</td>
        </tr>
        <tr>
            <td>Data Architect</td>
            <td>이현무</td>
        </tr>
        <tr>
            <td>Infra</td>
            <td>임윤수</td>
        </tr>
        <tr>
            <td>Designer</td>
            <td>공  석</td>
        </tr>
    </table>
</body>
</html>