html {
  font-size: 1vw !important;

  /* Colors ----------------------------- */
  --primary: #1f54c3;
  --primary-light-100: #bcc8e5;
  --light-100: #fafafa;
  --light-200: #f3f2f2;
  --light-300: #ebebeb;
  --light-400: #ededed;
  --light-500: #dddcdc;
  --light-600: #d4d4d4;
  --light-700: #a1a1a1;
  --light-800: #7c7c7c;

  --brown: #43341c;
  --brown-100: #693f2d50;

  --pink-100: #e8d3d1;
  --pink-200: #ffc4bc;
  --pink: #ff8778;
  --pink-500: #ff8678;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration-line: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ================================ */

.input-1 {
  font-family: 'SCD3';
}
.btn-1 {
  display: block;
  background: #1f54c3;
  color: white;
  font-family: 'SCD4';
  cursor: pointer;
}
.bottomText {
  text-decoration: underline;
  font-family: 'SCD2';
  cursor: pointer;
}
.mailBoxBtn {
  background: red;
  color: white;
  font-family: 'SCD6';
  cursor: pointer;
}

.wrapper {
  position: relative;
  display: flex;
  background-color: #3760c9;
  justify-content: center;
  z-index: 0;
}

.lid {
  position: absolute;
  transform-origin: top;
  transition: transform 0.15s linear;
}

/* Lid when closed */
.lid.one {
  transform: rotateX(0deg);
  z-index: 3;
  transition-delay: 0.4s;
}

/* Lid when opened */
.lid.two {
  transform: rotateX(90deg);
  z-index: 1;
  transition-delay: 0.3s;
}

.envelope {
  position: absolute;
  z-index: 3;
}

.letter {
  position: absolute;
  background-color: white;
  z-index: 2;
  transition: 0.3s;
}

.letter p,
.letter pre {
  text-align: center;
  color: #3b4049;
  overflow-wrap: break-word;
  white-space: pre-wrap;

  font-family: 'SCD6';
  visibility: hidden;
}
.letter p:first-child {
  text-align: left;
}
.letter p:last-child {
  text-align: right;
}

.wrapper:hover .lid.one {
  transform: rotateX(90deg);
  transition-delay: 0s;
}

.wrapper:hover .lid.two {
  transform: rotateX(180deg);
  transition-delay: 0.15s;
}

.wrapper:hover .letter {
  transition-delay: 0.3s;
  height: fit-content;
}
.wrapper:hover .letter p,
.wrapper:hover .letter pre {
  transition-delay: 0.4s;
  visibility: visible;
}

@media (max-width: 512px) {
  .input-1 {
    width: 350px;
    height: 55px;
    margin-bottom: 20px;
    font-size: 22px;
  }
  .btn-1 {
    width: 350px;
    height: 55px;
    margin-bottom: 20px;
    font-size: 22px;
  }
  .mailBoxBtn {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    font-size: 30px;
  }

  .wrapper {
    height: 50vw;
    width: 80vw;
  }

  .lid {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: 40vw solid transparent;
    border-bottom: 25vw solid transparent;
    border-left: 40vw solid transparent;
  }

  /* Lid when closed */
  .lid.one {
    border-top: 25vw solid #658ced;
  }

  /* Lid when opened */
  .lid.two {
    border-top: 25vw solid #3760c9;
  }

  .envelope {
    height: 100%;
    width: 90%;
    top: 0;
    left: 0;
    border-top: 25vw solid transparent;
    border-right: 40vw solid #c4dff0;
    border-bottom: 25vw solid #c4dff0;
    border-left: 40vw solid #a4d4f2;
  }

  .letter {
    top: 5px;
    width: 80%;
    min-height: 40vw;
    height: 80%;
    border-radius: 15px;
    box-shadow: 3px 3px 5px 5px gray;
  }

  .letter p,
  .letter pre {
    width: 90%;
    margin-top: 30px;

    font-size: 14px;
  }
  .wrapper:hover .letter {
    transform: translateY(-45vw);
  }
}

@media (min-width: 512px) and (max-width: 800px) {
  .appTitle {
    font-size: 40px;
    margin: 100px 0;
  }
  .input-1 {
    width: 400px;
    height: 60px;
    margin-bottom: 20px;
    font-size: 24px;
  }
  .btn-1 {
    width: 400px;
    height: 60px;
    margin-bottom: 20px;
    font-size: 24px;
  }
  .mailBoxBtn {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    font-size: 30px;
  }

  .wrapper {
    height: 300px;
    width: 500px;
  }

  .lid {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: 250px solid transparent;
    border-bottom: 150px solid transparent;
    border-left: 250px solid transparent;
  }

  /* Lid when closed */
  .lid.one {
    border-top: 150px solid #658ced;
  }

  /* Lid when opened */
  .lid.two {
    border-top: 150px solid #3760c9;
  }

  .envelope {
    height: 100%;
    width: 90%;
    top: 0;
    left: 0;
    border-top: 150px solid transparent;
    border-right: 250px solid #c4dff0;
    border-bottom: 150px solid #c4dff0;
    border-left: 250px solid #a4d4f2;
  }

  .letter {
    top: 5px;
    width: 80%;
    min-height: 250px;
    height: 80%;
    border-radius: 15px;
    box-shadow: 3px 3px 5px 5px gray;
  }

  .letter p,
  .letter pre {
    width: 90%;
    margin-top: 30px;

    font-size: 14px;
  }

  .wrapper:hover .letter {
    transform: translateY(-140px);
  }
}

@media (min-width: 800px) {
  .appTitle {
    font-size: 40px;
    margin: 100px 0;
  }
  .input-1 {
    width: 400px;
    height: 60px;
    margin-bottom: 20px;
    font-size: 24px;
  }
  .btn-1 {
    width: 400px;
    height: 60px;
    margin-bottom: 20px;
    font-size: 24px;
  }
  .mailBoxBtn {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    font-size: 30px;
  }

  .wrapper {
    height: 400px;
    width: 700px;
  }

  .lid {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: 350px solid transparent;
    border-bottom: 200px solid transparent;
    border-left: 350px solid transparent;
  }

  /* Lid when closed */
  .lid.one {
    border-top: 200px solid #658ced;
  }

  /* Lid when opened */
  .lid.two {
    border-top: 200px solid #3760c9;
  }

  .envelope {
    height: 100%;
    width: 90%;
    top: 0;
    left: 0;
    border-top: 200px solid transparent;
    border-right: 350px solid #c4dff0;
    border-bottom: 200px solid #c4dff0;
    border-left: 350px solid #a4d4f2;
  }

  .letter {
    top: 5px;
    width: 80%;
    min-height: 350px;
    height: 80%;
    border-radius: 15px;
    box-shadow: 3px 3px 5px 5px gray;
  }

  .letter p,
  .letter pre {
    width: 90%;
    margin-top: 30px;

    font-size: 14px;
  }

  .wrapper:hover .letter {
    transform: translateY(-190px);
  }
}
