@font-face {
  font-family: "SCD1";
  src: url("fonts/SCDream1.otf") format("truetype");
}
@font-face {
  font-family: "SCD2";
  src: url("fonts/SCDream2.otf") format("truetype");
}
@font-face {
  font-family: "SCD3";
  src: url("fonts/SCDream3.otf") format("truetype");
}
@font-face {
  font-family: "SCD4";
  src: url("fonts/SCDream4.otf") format("truetype");
}
@font-face {
  font-family: "SCD5";
  src: url("fonts/SCDream5.otf") format("truetype");
}
@font-face {
  font-family: "SCD6";
  src: url("fonts/SCDream6.otf") format("truetype");
}
@font-face {
  font-family: "SCD7";
  src: url("fonts/SCDream7.otf") format("truetype");
}
@font-face {
  font-family: "SCD";
  src: url("fonts/SCDream8.otf") format("truetype");
}
@font-face {
  font-family: "SCD9";
  src: url("fonts/SCDream9.otf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.appTitle {
  font-size: 40px;
  margin: 100px 0;
  font-family: "SCD7";
  cursor: pointer;
}
.input-1 {
  width: 400px;
  height: 60px;
  margin-bottom: 20px;
  font-size: 24px;
  font-family: "SCD3";
}
.btn-1 {
  display: block;
  width: 400px;
  height: 60px;
  margin-bottom: 20px;
  background: #1F54C3;
  color: white;
  font-size: 24px;
  font-family: "SCD4";
  cursor: pointer;
}
.bottomText {
  text-decoration: underline;
  font-family: "SCD2";
  cursor: pointer;
}
.mailBoxBtn {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  background: red;
  color: white;
  font-size: 30px;
  font-family: "SCD6";
  cursor: pointer;
}